<!DOCTYPE html>
<html>
<head>
  <title>BookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
  <header>
    <div class="logo"><%= image_tag('/assets/logo-01.png') %>
    </div>
    <div class="line">
    </div><!--//////////close line/////-->
    <nav>
      <ul>
        <li><%= link_to('Home', '/') %></li>
        <li><%= link_to('Books', books_path) %></li>
        <li><%= link_to('New Book', new_book_path) %></li>
        <li><%= link_to('Author', authors_path) %></li>
        <li><%= link_to('New Author', new_author_path) %></li>
      </ul>
    </nav>
  </header>
  <div id="content">
<%= yield %>
</div><!--/////////close content //////-->
<footer>
  <div class="line"></div><!--///////////////////////////////////////////////close line//////////////-->
<div class="social">
  <div class="circle-text"><a href="twitter.com"><div><img src="/assets/twitter-01.png"></div></a></div>
</footer>
</div><!--//////////close container ////////-->
</body>
</html>
